body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color:darkorange;
     /* background-color: */

}
h2{
    text-align: center;
    color: darkorange;
    /* background-color: black; */
}
.fp{
    color: white;
    margin-left: 600px;
}
input {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
select{
    width: 80px;
    padding: 5px;
}
.chb{
    width: 50px;
}
label{
    font-size: 20px;
    
}
.rdo{
    width: 50px;
}
span{
    color: rgb(0, 255, 55);
}
button{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: darkorange;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}
@media(min-width:450px ){
    .fp{
        color: white;
        margin-left: 20px;
    }
    h1{
        align-items: center;
        font-size: 20PX;
    }
    h2{
        align-items: center;
        font-size: 10PX;
    }
    body{
        background: red
    }
    h1, h2{
        color: black;
    }
}
@media(min-width:678px ){
    .fp{
        color: white;
        margin-left: 150px;
    }
    h1{
        align-items: center;
        font-size: 30PX;
    }
    h2{
        align-items: center;
        font-size: 20PX;
    }
    body{
        background: red
    }
    h1, h2{
        color: black;
    }
}
/* @media(min-width:768px){
    .fp{
        color: white;
        margin-left: 250px;
    } */


